* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-user {
  color: #000000;
  cursor: pointer;
  font-family: "Sahitya", serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 45rem;
}
.container-user__wrapper {
}
