* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.link-btn {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0.7rem 1.2rem;
  width: 5rem;
}
$primary-color: #1e1d1d;
$secondary-color: #e1dcd2;
$dark-color-100: #000000;
